

// CONTENT
.container {

    h1.page-title {
        font-size: 30px !important;
        color: #444 !important;
        padding: 20px 0;            
    }

    .dropzone {
        border: 1px solid #ccc;
        background-color: #fafafa;
    }

    #frmProccess {
        fieldset {
            margin: 20px 0;
        }
    }

}